<h1>Editing speaker event</h1>

<%= render "form", speaker_event: @speaker_event %>

<br>

<div>
  <%= link_to "Show this speaker event", @speaker_event %> |
  <%= link_to "Back to speaker events", speaker_events_path %>
</div>
